extends: eslint:recommended
env:
    es6: true
parserOptions:
    sourceType: module
rules:
    linebreak-style:
    - 2
    - unix
    indent:
    - 2
    - tab
    max-len:
    - 1
    - 90
    - 4
    quotes:
    - 2
    - double
    - avoid-escape
    semi:
    - 2
    - always
    no-var:
    - 2
    no-unused-vars:
    - 2
    - args: none
    no-console:
    - 1
